.container {
  display: flex;
  justify-content: center;
}

.image {
  max-height: 512px;
}

.full {
  height: auto;
  max-width: 100%;

  transition: opacity 400ms ease 500ms;
}

.thumb {
  width: auto;
  filter: blur(20px);
  transform: scale(1.05);
  transition: visibility 100ms ease 300ms;
}
