.post_text {
  width: 49vw;
  overflow-y: scroll;
  height: 65vh;
  font-size: 20px;

  a {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    color: #4193c6;
    width: 100%;
  }
}
