.flexContainer {
  display: flex;
  justify-content: space-between;
}

.container {
  font-family: "Palanquin Dark", sans-serif;
  font-size: 24px;
  background-color: black;
  width: 50vw;
}

.posts {
  height: 100%;
}
