@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin+Dark&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap");

$font-stack: "Righteous", cursive;
$red-color: #ff4e4e;
$white-color: #fff;

$primary-color: #1B1111;
$secondary-color: #939393;

.nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid $white-color;
  background-color: $primary-color;
  color: $white-color;
  padding: 10px 20px;
}

.horz {
    display: flex;
    align-items: center;
}

.app_logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid $white-color;
  background-color: $red-color;
  margin: 0px 10px;
}

.app_heading {
  font-size: 24px;
  font-weight: 700;
  font-family: 100% $font-stack, cursive;
}

.post_subreddit {
  font-size: 20px;
  font-weight: 400;
  font-family: "Palanquin Dark", sans-serif;
}

.user_posted {
  font-size: 14px;
  color: $secondary-color;
}

.time_posted {
  font-size: 14px;
  color: $secondary-color;
}

.profile_pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid $white-color;
  background-color: $red-color;
  margin: 0px 10px;
}

.user_info {
  display: flex;
  flex-direction: column;
  font-family: "Ropa Sans", sans-serif;
  font-size: 16px;
}

.settings {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid $white-color;
  background-color: $secondary-color;
  margin: 0px 10px;
}
