@import url("https://fonts.googleapis.com/css2?family=Palanquin+Dark&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap");

$red-color: #ff4e4e;

$primary-color: #1b1111;
$white-color: #fff;
$secondary-color: #939393;

.nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid $white-color;
  padding: 10px 20px;
}

.horz {
  display: flex;
  align-items: center;
}

.app_logo {
  img {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    border: 2px solid $white-color;
    margin: 0px 10px;
  }
}

.app_heading {
  font-size: 24px;
  font-weight: 700;
}

.subreddit_icon {
  margin: 0 10px;

  img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid $white-color;
    background: #0079d3;
  }
}

.post_subreddit {
  font-size: 20px;
  font-weight: 400;
  font-family: "Palanquin Dark", sans-serif;
}

.user_posted {
  font-size: 14px;
  color: $secondary-color;
}

.time_posted {
  font-size: 14px;
  color: $secondary-color;
}

.profile_pic {
  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid $white-color;
    background-color: $red-color;
    margin: 0px 10px;
  }
}

.user_info {
  display: flex;
  flex-direction: column;
  font-family: "Ropa Sans", sans-serif;
  font-size: 16px;

  >  {
    font-weight: 700;
  }
}

.settings {
  img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin: 0px 10px;
  }
}
