@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

$white-color: #fff;

.container {
  background-color: black;
}

.horz {
  display: flex;
  align-items: center;
}

.subreddit_icon {
  margin: 0 10px;

  img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid $white-color;
    background: #0079d3;
  }
}
