@import '../../styles/colors';

.default_subreddit {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 2px solid $font-color;
    display: inline-block;
    vertical-align: middle;
    background: $sub-bg-color;
    box-sizing: border-box;
    fill: $font-color;
  }