@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin+Dark&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap");

$primary-color: #1b1111;
$white-color: #fff;
$font-stack: "Righteous", cursive;

html,
body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  background-color: $primary-color;
  color: $white-color;
  font-family: $font-stack;
}

* {
  box-sizing: border-box;
}