@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin+Dark&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap");

@import 'colors';

$font-stack: "Righteous", cursive;

html,
body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  background-color: $background-color;
  color: $font-color;
  font-family: $font-stack;
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
}

/* Scroll 1 */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-track {
  background-color: rgba($posts-color, 0.4);
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
  border-radius: 10px;
}